bld
*-t
*.Plo
*.Po
*.a
*.bb
*.bbg
*.cdf
*.core
*.d
*.da
*.dir
*.dylib
*.exe
*.exp
*.gcda
*.gcno
*.gcov
*.idb
*.ilk
*.la
*.lai
*.lo
*.manifest
*.map
*.o
*.obj
*.old
*.pch
*.pdb
*.reject
*.res
*.rule
*.sbr
*.spec
*.user
*/*.dir/*
Debug
Release
MySql.sdf
Win32
*/*_pure_*warnings
*/.deps
*/.libs/*
*/.pure
*/debug/*
*/minsizerel/*
*/release/*
RelWithDebInfo
*~
.*.swp
*.suo
*.ncb
*.user